<!doctype html>
<html lang="en">
 <head> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"> 
  <meta name="google-site-verification" content="bk5E4s9GvIdHQnfUwsVoU3oEOWpODLVs3ry_fBWF518"> 
  <meta name="description" content="Nextdish provides Bay Area families with Asian-style dinner freshly cooked and delivered to your doorstep. We purchase premium local ingredients everyday to ensure the freshness and quality of every single dish. Our team has been working on how to make Asian food healthier and tastier for many years, and we have a team of experienced chefs who have mastered the Asian/Chinese cooking techniques."> 
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --> 
  <!-- Bootstrap --> 
  <link href="/resources/libs/bootstrap/dist/css/bootstrap.css?v=1.2615" rel="stylesheet"> 
  <link href="/resources/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css?v=1.2615" rel="stylesheet"> 
  <link href="/resources/libs/select2/dist/css/select2.min.css?v=1.2615" rel="stylesheet"> 
  <!-- font awesome --> 
  <link href="/resources/libs/font-awesome/css/font-awesome.css?v=1.2615" rel="stylesheet"> 
  <link href="/resources/css/base.css?v=1.2615" rel="stylesheet"> 
  <!-- Facebook Pixel Code --> 
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '300241840603010');
</script> 
  <noscript> &lt;img height="1" width="1" src="https://www.facebook.com/tr?id=300241840603010&amp;amp;ev=PageView &amp;amp;noscript=1"&gt; 
  </noscript> 
  <!-- End Facebook Pixel Code --> 
  <title>Nextdish | Tasty and Healthy Dinner | Chinese Food Delivery</title> 
  <link href="/resources/css/user.css?v=1.2615" rel="stylesheet"> 
 </head> 
 <body> 
  <div class="layout-page-content"> 
   <div class="layout-header"> 
    <div class="container"> 
     <div class="btn-menu visible-xs-block"> 
      <i class="icon icon-menu"></i> 
     </div> 
    </div> 
   </div> 
   <div class="layout-account-panel"> 
    <div class="container"> 
     <div class="panel-wrapper" style="padding: 0"> 
      <div class="panel-menu hidden-xs"> 
       <div class="menu"> 
        <a href="/driver/155ZI4EEG0Q1H/payment" class="menu-item">我的工资</a> 
        <a href="/driver/155ZI4EEG0Q1H/dates" class="menu-item">我的预约</a> 
       </div> 
      </div> 
      <div class="panel-content credit-balance-content"> 
       <h4>距离$50奖励金: 10 次送餐</h4> 
       <table id="credit-table"> 
        <thead> 
         <tr> 
          <th width="20%">日期</th> 
          <th width="50%">备注</th> 
          <th width="15%">金额</th> 
          <th width="15%">付款</th> 
         </tr> 
        </thead> 
        <tbody> 
         <tr> 
          <td style="color:black"><strong>20210523</strong></td> 
          <td>Customer Tips</td> 
          <td><strong>$7.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210523</strong></td> 
          <td>Payment R2+ R3-1,2,3,4 +R7</td> 
          <td><strong>$40.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210522</strong></td> 
          <td>Payment R-3</td> 
          <td><strong>$43.75</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210522</strong></td> 
          <td>Customer Tips</td> 
          <td><strong>$3.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210522</strong></td> 
          <td>TRI</td> 
          <td><strong>$25.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210517</strong></td> 
          <td>Payment R-4</td> 
          <td><strong>$50.42</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210517</strong></td> 
          <td>Customer Tips</td> 
          <td><strong>$11.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210515</strong></td> 
          <td>Customer Tips</td> 
          <td><strong>$10.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210515</strong></td> 
          <td>Payment R-3</td> 
          <td><strong>$30.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210514</strong></td> 
          <td>Payment R-4</td> 
          <td><strong>$45.42</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210514</strong></td> 
          <td>Transport Tri Valley</td> 
          <td><strong>$25.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210514</strong></td> 
          <td>Customer Tips</td> 
          <td><strong>$4.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210509</strong></td> 
          <td>Customer Tips</td> 
          <td><strong>$17.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210509</strong></td> 
          <td>Payment R-16</td> 
          <td><strong>$35.83</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210508</strong></td> 
          <td>Customer Tips</td> 
          <td><strong>$23.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210508</strong></td> 
          <td>Transport TRI</td> 
          <td><strong>$25.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210508</strong></td> 
          <td>Payment R-16</td> 
          <td><strong>$52.50</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210503</strong></td> 
          <td>Customer Tips</td> 
          <td><strong>$10.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210503</strong></td> 
          <td>Payment R-14</td> 
          <td><strong>$42.08</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210502</strong></td> 
          <td>Customer Tips</td> 
          <td><strong>$7.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210502</strong></td> 
          <td>Payment R11+送信13mins（50.83+5.41）</td> 
          <td><strong>$56.24</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210501</strong></td> 
          <td>Customer Tips</td> 
          <td><strong>$9.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210501</strong></td> 
          <td>Payment R-11</td> 
          <td><strong>$42.50</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210430</strong></td> 
          <td>Customer Tips</td> 
          <td><strong>$17.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210430</strong></td> 
          <td>Attendance Bonus (25)</td> 
          <td><strong>$100.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210430</strong></td> 
          <td>Performance Bonus (25)</td> 
          <td><strong>$50.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210430</strong></td> 
          <td>Payment R-18</td> 
          <td><strong>$57.50</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210425</strong></td> 
          <td>Payment R-14</td> 
          <td><strong>$45.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
         <tr> 
          <td style="color:black"><strong>20210425</strong></td> 
          <td>Customer Tips</td> 
          <td><strong>$11.00</strong></td> 
          <td style="color: green">已付款</td> 
         </tr> 
        </tbody> 
       </table> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="layout-mobile-nav-backdrop hidden"></div> 
  <div class="layout-mobile-nav hidden"> 
   <div class="nav-section"> 
    <a href="/driver/155ZI4EEG0Q1H/payment" class="nav-item">My payments</a> 
    <a href="/driver/155ZI4EEG0Q1H/address" class="nav-item">My Home</a> 
    <a href="/driver/155ZI4EEG0Q1H/dates" class="nav-item">My Schedule</a> 
   </div> 
  </div> 
  <!-- for IE <= 9 --> 
  <script>
  (function() {
    function isIE() {
      var myNav = navigator.userAgent.toLowerCase();
      return (myNav.indexOf('msie') != -1) ? parseInt(myNav.split('msie')[1]) : false;
    }

    if (isIE() && isIE() <= 9) {
      function hideAll() {
        document.body.innerHTML = '<div style="text-align: center; padding-top: 30px;"> This site does not support IE9 or below.</div>';
      }

      window.onload = hideAll;
      setTimeout(hideAll, 100);
      setTimeout(hideAll, 1000);
      hideAll();
    }
  })();
</script> 
  <script type="text/javascript" src="/resources/libs/underscore/underscore-min.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/libs/moment/min/moment-with-locales.min.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/libs/bluebird/js/browser/bluebird.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/libs/jquery/dist/jquery.min.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/libs/bootstrap/dist/js/bootstrap.min.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/libs/backbone/backbone-min.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/libs/fastclick/lib/fastclick.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/libs/phoneformat/dist/phone-format-global.min.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/libs/angular/angular.min.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/libs/angular-animate/angular-animate.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/libs/select2/dist/js/select2.min.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/output/config.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/output/service.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/output/directive.js?v=1.2615"></script> 
  <script type="text/javascript" src="/resources/output/login.js?v=1.2615"></script> 
  <script>
  window.preload = window.preload || {};
</script> 
  <script type="text/javascript" src="/resources/js/utils.js?v=1?v=1.2615"></script> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88107036-1"></script> 
  <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-88107036-1'); gtag('config', 'AW-802749270'); </script> 
  <script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script> 
  <!-- Google Tag Manager --> 
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N6ZBVZZ');</script> 
  <!-- End Google Tag Manager --> 
  <div class="layout-modal layout-general-modal layout-normal-alert hidden"> 
   <div class="content-wrapper"> 
    <div class="content"> 
     <div class="btn-content-close" close-alert>
      <b>×</b>
     </div> 
     <div class="message generalAlertMessage"> 
     </div> 
     <button type="button" class="btn btn-primary" close-alert>OK</button> 
    </div> 
   </div> 
  </div> 
  <div class="layout-modal layout-general-modal layout-normal-not-found hidden"> 
   <div class="content-wrapper"> 
    <div class="content"> 
     <div class="btn-content-close" go-home>
      <b>×</b>
     </div> 
     <div class="message">
       Your order is outdated, please re-order your dishes. 
     </div> 
     <button type="button" class="btn btn-primary" go-home>See Menu</button> 
    </div> 
   </div> 
  </div> 
  <div class="layout-modal layout-general-modal layout-cut-off-passed hidden"> 
   <div class="content-wrapper"> 
    <div class="content"> 
     <div class="btn-content-close" go-home>
      <b>×</b>
     </div> 
     <div class="message">
       Oops! The cut off time is passed. 
      <br>Please order from another date. 
     </div> 
     <button type="button" class="btn btn-primary" go-home>See Menu</button> 
    </div> 
   </div> 
  </div> 
  <div class="layout-modal layout-general-modal layout-all-addon hidden"> 
   <div class="content-wrapper" style="max-width: 360px;"> 
    <div class="content"> 
     <div class="btn-content-close" close-modal>
      <b>×</b>
     </div> 
     <div class="message">
       The order contains add-on item(s) that can be purchased with a minimum $15 order of eligible items. 
     </div> 
     <button type="button" class="btn btn-primary" ng-click="addMoreItems()" close-modal>Add More</button> 
    </div> 
   </div> 
  </div> 
  <div class="layout-modal layout-general-modal layout-zero-dishes hidden"> 
   <div class="content-wrapper"> 
    <div class="content"> 
     <div class="btn-content-close" go-home>
      <b>×</b>
     </div> 
     <div class="message">
       Oops! Something went wrong in the system.
      <br> Please go back to the menu and order again. 
     </div> 
     <button type="button" class="btn btn-primary" go-home>See Menu</button> 
    </div> 
   </div> 
  </div> 
  <div class="layout-modal layout-general-modal layout-sanramon-weekend hidden"> 
   <div class="content-wrapper" style="max-width: 540px;"> 
    <div class="content"> 
     <div class="btn-content-close" go-home>
      <b>×</b>
     </div> 
     <div class="message">
       Weekend delivery in your area will be coming soon...
      <br> However you can order for any weekday now! 
     </div> 
     <button type="button" class="btn btn-primary" go-home>See Menu</button> 
    </div> 
   </div> 
  </div> 
  <div class="layout-modal layout-general-modal layout-not-first-user hidden"> 
   <div class="content-wrapper" style="max-width: 540px;"> 
    <div class="content"> 
     <div class="btn-content-close">
      <b>×</b>
     </div> 
     <div class="message"> 
      <b>Whoops, it seems you have ordered before.</b>
      <br> This coupon is only for people who are making the first order. If you have any question, please call us at (800) 680-3012. 
     </div> 
     <button type="button" class="btn btn-primary">OK</button> 
    </div> 
   </div> 
  </div> 
  <div class="layout-modal layout-general-modal layout-suite-entered-modal hidden"> 
   <div class="content-wrapper" style="max-width: 540px;"> 
    <div class="content"> 
     <div class="btn-content-close">
      <b>×</b>
     </div> 
     <div class="message">
       Please make sure your address is accessible or you have someone to be present.
      <br>
      <br> If the delivery attempt is unsuccessful because our delivery driver cannot access to your address and cannot reach you. A re-deliver fee will be charged based on the actual delivery labor cost. 
     </div> 
     <button type="button" class="btn btn-primary" ng-click="closeSuiteAlert()">OK, I understand</button> 
    </div> 
   </div> 
  </div> 
  <div class="layout-modal layout-general-modal layout-having-order-modal hidden"> 
   <div class="content-wrapper" style="max-width: 540px;"> 
    <div class="content"> 
     <div class="btn-content-close">
      <b>×</b>
     </div> 
     <div class="message">
       It seems that you already had an order to be delivered today.
      <br>
      <br> Please check the order history if needed. 
     </div> 
     <button type="button" class="btn btn-primary">OK, I understand</button> 
    </div> 
   </div> 
  </div> 
  <script type="text/javascript" src="/resources/output/credit.js?v=1.2615&amp;time=1622047681288"></script>   
 </body>
</html>